.Footer{
    background-color: rgb(3, 3, 3);
    color: azure;
}
.Footer{
    margin: 0;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
}